# .gitattributes
#
# Notes
#
# - Folders/Files Git LFS will manage: git lfs track folder_name
# - Asegurarse primero de subir .gitattributes modificado y luego los lf
#
*.pkl filter=lfs diff=lfs merge=lfs -text
predictivehp/data/Police_Incidents.csv filter=lfs diff=lfs merge=lfs -text
