# .gitattributes
#
# Notes
#
# - Folders/Files Git LFS will manage: git lfs track folder_name
# - Asegurarse primero de subir .gitattributes modificado y luego los lf
#
*.pkl filter=lfs diff=lfs merge=lfs -text
git lfs track predictive/data/Police_incidents.csv