# .gitattributes
# Python Version: 3.8.1
#
# iPre - Big Data para Criminología
# Created by Mauro S. Mendoza Elguera at 22-12-19
# Pontifical Catholic University of Chile
#
# Notes
#
# - Folders/Files Git LFS will manage: git lfs track folder_name
# - Asegurarse primero de subir .gitattributes modificado y luego los lf
#
*.pkl filter=lfs diff=lfs merge=lfs -text
