# requirements.txt
# Python Version: 3.8.1
#
# iPre - Big Data para Criminología
# Created by Mauro S. Mendoza Elguera at 21-12-19
# Pontifical Catholic University of Chile
#
# Notes:
#
# - Install packages: pip install -r requirements.txt
# - Outdated packages: pip list --outdated
# - Upgrade packages: pip install --upgrade pkg_name1 pkg_name2 ...

# Array Computing
numpy
pandas

# Plotting
matplotlib
seaborn

# Database Requests
certifi
sodapy

# Geospatial Analyisis
geopandas
descartes
Shapely
Fiona
pyproj

# Paraview
pyevtk

# Machine Learning
sklearn
scikit-learn
scipy
statsmodels

